.center-inside{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(177deg, rgba(83,121,74,1) 0%, rgba(237,249,234,0.916579131652661) 36%, rgba(228,242,180,0.9221813725490196) 100%);
}
.devise-containerSignup{
  width: fit-content;
  margin: 10% auto 0 auto;
  border: solid #C9BC9B 10px;
  border-radius: 10px;
  background-color: #C9BC9B;
}
.login-header{
  width: fit-content;
  margin: 10px 60% 10px auto;
}
.login-input{
  background-color: #F5F5F5;
  border-radius:5px;
  border:none;
  height: 30px;
}
.field{
  margin: 10px auto;
  width: fit-content;

}
.actions{
  width: 188px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #958c73;
  border-radius: 5px;
}
.Loginform{
  display: flex;
  justify-content: center;
  background-color: #7d7764;
  border-radius: 5px;
}
