.bg-images{
  width: 100%;
  height: 100%;
  // position: absolute;
  // bottom: 7%;
  opacity: 70%;
  // height: fit-content;
  // z-index: -1;
}
.bg-forest{
  width: 40%;
  float: right;
  margin-right: 20px;
}
.bg-fire{
  width: 32.3%;
  float: left;

}
// .bg-images{
//   width: 100%;
//   position: fixed;
//   bottom: 0;
//   right: 1px;
//   z-index: -1;
//   opacity: 70%;
//   height: fit-content;
// }
// .bg-forest{
//   width: 50%;
//   float: right;
//   margin-right: 20px;
// }
// .bg-fire{
//   width: 40.3%;
//   float: left;
// }
