<div class="bg-images">
  <%# <div class="bg-fire"></div>
  <div class="bg-forest"></div> %>
  <%= image_tag("fire.png", class:"bg-fire") %>
  <%= image_tag("forest.png", class:"bg-forest") %>
</div>
