#department-headers{
  margin: 100px 0 100px 15%;
  color: #9c9c9c;
}
#department-headers h1{
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
}
#department-headers h2{
  font-family: 'Bebas Neue', cursive;
  font-size: 40px;
}
#fetch-div{
  background-color: rgba(255, 255, 255, 0.874);
  box-shadow: 0px 0px 2px grey;
  border-radius: 10px;
  border: 1px black solid;
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px 0 250px 30%;
}
#fetch-div div{
  width: fit-content;
  margin-top: 6%;
}
#inside-fetch-div > h2{
  width: fit-content !important;
  margin: auto important !important;
}
#fetch-div > div > button{
  margin: 60px auto 0 auto;
  background-color: #F9F0E1;
  border: none;
  border-radius: 10px;
  padding: 10px 50px;
  box-shadow: 0 0 6px 1px black;
}
#fetch-div > div > button:active{
  box-shadow: 0 0 0px 0px black;
}
